.item-select {
  cursor: pointer;
  box-sizing: border-box;
  width: 9rem;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  background-size: cover;
  border: 3px rgba(255, 255, 255, 0.5) solid;
  background-color: red;

  border-radius: 5px;

  font-size: 2rem;
  text-shadow: 2px 0 3px white, -2px 0 3px white, 0 2px 3px white,
    0 -2px 3px white, 2px 0 3px white, -2px 0 3px white, 0 2px 3px white,
    0 -2px 3px white, 0 0 6px white;
}

.category {
  background-color: coral;
}

.product {
  background-color: greenyellow;
}
